* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    /* display: flex; */
}
body{
   font-family: 'Poppins', sans-serif; 
}
#layout{
    height: 95%;
    width: 98%;
    background-color: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    border-radius: 25px;
}
#layout #logo{
    height: 15%;
    position: absolute;
    z-index: 9;
    top: 2%;
    left: 5%;
}
#layout #pikachu{
    position: absolute;
    z-index: 9;
    left: 47%;
    top: 17%;
}
#box1{
    height: 100%;
    width: 60%;
    border-radius: 25px 0 0 25px;
    background-color: #FFCC01;
    position: relative;
    overflow: hidden;
}
#box1 .text{
    height: 50%;
    width: 100%;
    position: absolute;
    top: 45%;
    left: 10%;
    transform: translateY(-50%);
}
#box1 h4{
    margin-left: 10px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}
#box1 h1{
    font-size: 8rem;
    font-weight: 800;
}
#box1 p{
    font-weight: 400;
    color: #735809;
    margin-left: 5px;
}
#box2{
    height: 100%;
    width: 40%;
    border-radius: 0 25px 25px 0;
    background-color: #FBE8B5;
}
.number{
    display: flex;
    align-items: center;
    position: absolute;
    top: 99%;
}
.number p{
    color: black !important;
    font-weight: 600;
    font-size: 1rem;

}
.number .line{
    height: 1px;
    width: 50px;
    border: 1px solid black;
}
#box1 img{
    height: 50%;
    position: absolute;
    top: 97%;
    left: 20%;
    opacity: 0.2;
    transform: translate(-50%, -50%);

}
.menu{
    position: absolute;
    left: 94%;
    top: 4%;
    font-size: 3rem;
}
.circles{
    position: absolute;
    top: 45%;
    left: 96%;
}
.circle{
    height: 10px;
    width: 10px;
    background-color: #FFCC01;
    border-radius: 50%;
    margin: 15px 5px;
}
.black{
    background-color: black;
}